
.scrollShowLogo {
height:68px;
left:23px;
position:absolute;
top:16px;
width:151px;
}
.scrollShowTuneIn {
font-family:arial;
font-size:12px;
font-weight:bold;
height:18px;
left:23px;
position:absolute;
text-align:center;
top:93px;
width:151px;
}
.scrollShowTitle {
color:#1b96d4;
font-family:arial;
font-size:28px;
font-weight:bold;
height:35px;
left:24px;
position:absolute;
top:134px;
width:328px;
}
.scrollShowBlurb {
color:#1b96d4;
font-family:arial;
font-size:18px;
height:20px;
left:26px;
position:absolute;
top:171px;
width:328px;
}
#tbs_featured_headerbackup .scrollitem_container {
float:left;
height:405px;
position:relative;
width:713px;
}
#tbs_featured_headerbackup #tbs_featured_games {
float:left;
height:405px;
position:relative;
width:713px;
}
#tbs_featured_headerbackup .scrollitem_image {
margin-left:0px;
margin-top:0px;
position:relative; 
width:713px;
height:405px;
}
#tbs_featured_headerbackup .scrollable {
height:405px;
left:0px;
overflow:hidden;
position:absolute;
text-align:left;
top:0;
width:713px;
}
#tbs_featured_headerbackup .scrollable .items {
height:405px;
position:absolute;
width:20000em;
}
#tbs_featured_headerbackup #scrollbuttons {
height:405px;
position:absolute;
right:0px;
top:0px;
width:713px;
}
#tbs_featured_headerbackup .optionContainter li {
font-size:12px;
font-weight:bold;
line-height:23px;
color:#1b96d4;
padding-left: 19px;
background-image: url(orange_arrow.png);
background-repeat: no-repeat;
background-position: 0 .5em;
}
#tbs_featured_headerbackup .optionContainter ul {
list-style: none;
}
#tbs_featured_headerbackup .optionContainter li a{
background-position: 0 10px;
text-decoration:none;
color:#1f96d5;
}
#tbs_featured_headerbackup .optionContainter li a:hover{
background-position: 0 10px;
text-decoration:none;
color:#ff3300;
}
#tbs_featured_headerbackup .navi {
height:36px;
left:8px;
position:absolute;
top:361px;
width:309px;
z-index:1600;
}
#tbs_featured_headerbackup .optionContainter {
left:-27px;
position:absolute;
top:227px;
width:317px;
height:100px;
}
#tbs_featured_headerbackup .navi a {
display:block;
float:left;
font-size:1px;
height:36px;
margin:4px;
width:54px;
border:1px solid #1B84C9;
}
#tbs_featured_headerbackup .navi a.active { 
background-position:0 0;
border:1px solid #ff3300;
}
#tbs_featured_headerbackup .navi a:hover {
background-position:0 0;
border:1px solid orange;
}
#tbs_featured_headerbackup {
height:405px;
position:relative;
width:713px;
}
#flashbackupContainer {
background:none repeat scroll 0 0 ;
height:405px;
margin:0 auto;
width:713px;
float:left;
display:none;;
}
#flashbackupContent {
height:405px;
width:713px; 
}
#tbs_featured_headerbackup .navi a {
background:transparent url(blank.gif) no-repeat;
}
#shows_subnav li a,#shows_subnav li a:visited{width:180px;}
#shows_subnav li.last {background:transparent url(topnav_dropdown_bot_w180.gif) no-repeat scroll left top;width:200px;}
#movies_subnav li a,#movies_subnav li a:visited{width:133px;}
#movies_subnav li.last {background:transparent url(topnav_dropdown_bot_w133.gif) no-repeat scroll left top;width:153px;}
#video_subnav li a,#video_subnav li a:visited{}
#schedule_subnav li a,#schedule_subnav li a:visited{width:115px;}
#schedule_subnav li.last {background:transparent url(topnav_dropdown_bot_w115.gif) no-repeat scroll left top;width:135px;}
#games_subnav li a,#games_subnav li a:visited{width:200px;}
#games_subnav li.last {background:transparent url(topnav_dropdown_bot_w200.gif) no-repeat scroll left top;width:220px;}
#sweeps_subnav li a,#sweeps_subnav li a:visited{}
#fullep_subnav li a,#fullep_subnav li a:visited{width:180px;}
#fullep_subnav li.last {background:transparent url(topnav_dropdown_bot_w180.gif) no-repeat scroll left top;width:200px;}
#shop_subnav li a,#shop_subnav li a:visited{}
.arrows a ,
.arrows_watchsneakpeek a,
.arrows_watchfull a,
.arrows_watchfull_ad a,
.arrows_watchsneakpeek_ad a{font-size:12px;font-weight:bold;font-family: Arial Rounded MT Bold, Arial; text-decoration: none; color:#63d6fc;text-transform:lowercase;}
.arrows_text {vertical-align:4px;margin-right:7px;}
.arrows_text a:hover {text-decoration:underline;}
#allvideo {color:white;}
#tbs_video_teaser_discription_padding {position:absolute;top:273px;left:5px;font-size:11px;}
#tbs_video_teaser_discription_padding a, #tbs_video_teaser_discription_padding a:active, #tbs_video_teaser_discription_padding a:visited {text-decoration:none;color:white;}
#tbs_video_teaser_discription_padding a:hover {text-decoration:underline; color:white;}
.riffheader{font-weight:bold;}
#searchContainer {float:right; margin-right:5px;}
#searchForm {padding:0;margin:0;}
#search {padding: 0pt; width: 190px; margin-top: 6px;}
#searchbtn {padding: 0pt; margin: 5px 0 0 0;}
#MSIB_Container_opa {position:absolute;top:40px;left:321px;width:705px; height:31px;background:transparent url(msibTonightBackGround.png) no-repeat right top;}
.tonightontbs{font-size:11px;}
#tonightontbs{margin-top:4px;color:#0075AF;text-align:center;width:315px;}
#tbs_logo_header {top:20px;left:30px;}
#tbs_statusbar_wmsib {height:5px;}
#tbs_header_container2 {
background:#1B84C9 url(tbs_background_mainheader.jpg) repeat-y scroll 0 0;
margin:0 auto;
position:relative;
width:1048px;
}
#lopezTonight{
background: url(lopeztonight.png) no-repeat scroll 0 0;
margin:0 auto;
position:relative;
width:331px;
height:253px;
}
#lopezCalltoAction{
margin:0 auto;
position:absolute;
top:225px;
left:25px;
}
.lopezContentContainer{
width:212px;
height:60px;
position:absolute;
left:25px;
top:160px;
text-align:left;
display:none;
}
.lopezTonightTitle {
height:15px;
color:#A4E5FA;
font-size:14px;
font-weight:bold;
}
.lopezTonightTitle p {
border:1px solid black;
}
#theDaysLopez { 
background: url(https://web.archive.org/web/20110202213706im_/http://i.tbs.com/v5cache/TBS/images/lopezTonightDays.png) no-repeat scroll 0 0;
width:277px;
height:11px;
position:absolute;
left:14px;
top:65px;
z-index:2000 !important;
}
.lopezTonightGuest {margin-top:5px;	font-weight:bold;font-size:14px;}
#lopezTonightThumbs {
width:296px;
height:85px;
position:absolute;
left:18px;
top:65px;
text-align:left;
}
.lopezThumbsContainer {
width:74px;
height:85px;
text-align:left;
float:left;
position:relative;
}
.lopezThumb {
width:60px;
height:56px;
position:absolute;
left:6px;
top:5px;
text-align:left;
}
#tbs_flashandvideo_container {
background: url(https://web.archive.org/web/20110202213706im_/http://i.tbs.com/v5cache/TBS/TBS/TBS/TBS/tbs_background_home_body_container.jpg) repeat-x scroll 0 0;
}
#getMoreAndMoreVideos{
margin:0 auto;
position:absolute;
left:9px;
top:391px;
}
.blueMenu li, .blueMenu ul ul {
z-index:2006;
}
#tbs_video_teaser_container{
background: url(https://web.archive.org/web/20110202213706im_/http://i.tbs.com/v5cache/TBS/images/conanvideoskin.png) no-repeat scroll 0 0;
margin:0 auto;
position:relative;
width:335px;
height:407px;
}
#tbs_video_conanCorner {position:absolute;top:302px;left:7px;}
.conanTeaserImage {float:left;width:70px;height:80px;border:1px solid black;}
.conanTeaser {float:left;width:71px;height:80px;margin-left:5px; text-align:left;font-size:11px;}
#conanImage2{margin:0 0 0 17px;}
.conanTeaser a {text-decoration:none; color:#000000; font-size:11px;}
#theConanCornerPlay {position:absolute;top:95px;left:123px;width:70px;height:65px;
}
#theConanCornerPlay a:hover{
opacity:0.4;
filter:alpha(opacity=40);
}
#theConanCornerImage{position:absolute;top:34px;left:7px;width:319px;height:240px;
background: url(https://web.archive.org/web/20110202213706im_/http://i.tbs.com/v5cache/TBS/images/video_play_button.png) no-repeat scroll 0 0; 
}
#tbs_home_row2_teaser_container{
width:330px;
}

/*
     FILE ARCHIVED ON 21:37:06 Feb 02, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:22:08 Mar 31, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.495
  exclusion.robots: 0.037
  exclusion.robots.policy: 0.028
  esindex: 0.012
  cdx.remote: 17.745
  LoadShardBlock: 226.778 (3)
  PetaboxLoader3.datanode: 157.846 (4)
  PetaboxLoader3.resolve: 46.709
  load_resource: 23.185
*/